<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>349809933147-8ih2ichprnbe782erguuee5td8nnqru3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349809933147-8ih2ichprnbe782erguuee5td8nnqru3</string>
	<key>API_KEY</key>
	<string>AIzaSyCxNQjE9-fB2niqgrqnEXOYCRMescVi5JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>349809933147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sundevs.PruebaFirebase</string>
	<key>PROJECT_ID</key>
	<string>prueba-9095c</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-9095c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:349809933147:ios:cd29a82079d4ff65</string>
	<key>DATABASE_URL</key>
	<string>https://prueba-9095c.firebaseio.com</string>
</dict>
</plist>